<ul>
{{!--     <li>
    <a href="" title="首页">首页</a>
  </li> --}}
  <li>
    <span>项目</span>
    <ul>
      <li>
        {{#if manage}}
          {{#link-to "manage.ember"}}ember{{/link-to}}
        {{else}}
          {{#link-to "ember"}}ember{{/link-to}}
        {{/if}}
      </li>
      <li>
        {{#if manage}}
          {{#link-to "manage.ember-data"}}ember-data{{/link-to}}
        {{else}}
          {{#link-to "ember-data"}}ember-data{{/link-to}}
        {{/if}}
        
      </li>
    </ul>
  </li>
  {{#each navs as |nav|}}
    <li>
      <span {{action "toggleDisplay" nav}}>{{nav.title}}</span>
      {{#if nav.children.length}}
        {{#if nav.display}}
          <ul>
            {{#each nav.children as |c|}}
            {{!-- {{#if manage}} --}}
              <li {{action "goToNav" nav.title c.title }} >{{c.title}}</li>
            {{!-- {{else}}
              <li>{{c.title}}</li>
            {{/if}} --}}
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
      {{!-- {{#if manage}}
        <i {{action "addParentNav" nav.id}} class="fa fa-plus"></i>
      {{/if}} --}}
    </li>
  {{/each}}
</ul>